.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 5px solid black

}

.imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.imagen img {
    object-fit: cover;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}